
.home-wrap header {
	padding: 0;
	margin: 0 0 20px 0;
	height: 90px;
}
header .header-style {
	width: 100%;
	background-color: #eeeeee;
	height: 45px;
}

.logo {
	text-indent: -9999px;
	height: 90px;
	width: 90px;
	background-image: url('../../svgs/logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px;
	background-color: #ffffff;
    float: left;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
	

/* ----------- Menu -------------*/

.site-nav {
	float: left;
}
nav.site-nav > ul {
	list-style: none;
    margin: 10px 0;
}


nav.site-nav > ul > li {
	display: inline;
	padding: 0px 20px;
    border-right: solid 1px #C9C9C9;
}

nav.site-nav > ul > li:last-child {
    border-right: none;
}

nav.site-nav > ul > li > a {
	font-weight: 600;
	font-size: 16px;
}



/*  --------- Botão --------*/

.home-header-wrap { 
	position: relative; /*para ajustar a posição do elemento button*/
}

.home-wrap header > .header-style > .container > button {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px 0;
	padding: 4px 25px;
	border-radius: 5px;
	border-style: none;
	background-color: #f7941e;
	color: #ffffff;
	font-size: 16px;
	font-weight: 800; 
}

.home-wrap header > .container > button:after {
	content: " >";
}


/* -------- Breadcrumb ------- */

ul.breadcrumb {
    margin: 16px 0 16px 20px;
    float: left;
}
ul.breadcrumb > li {
	display: inline;
	padding: 0;
}

ul.breadcrumb > li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #898989;
}
ul.breadcrumb > li > a:after {
    content: " >";
}

ul.breadcrumb > li > a:after:last-child {
    content: "";
}