
.home-wrap header {
  background-color: #C9C9C9;
  color: red;
  display: inline;
  padding: 0;
  margin: 0;
}


.home-wrap header > h1 {

}

.logo {
	background-image: url('../../svgs/logo.svg');
	background-repeat: no-repeat;
	float: left;
	background-color: #ffffff;
	height: 100px;
	padding: 0;
	margin: 0;
	background-size: 60px;
}

/* ----------- Menu -------------*/

.site-nav nav > ul {
	list-style: none;
	margin-left: 20px;
	padding: 0 20px;
}


.site-nav nav > ul > li {
	display: inline;
}

/*  --------- Botão --------*/
.home-wrap header > button {
	float: right;
}

