

/* ------------ Setup básico -------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #898989;
  border-color: #c9c9c9;
/*  text-rendering: optimizeLegibility;
  overflow-x: hidden;*/
}




/* --------- Textos ------------ */

a {
  color: #898989;
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #ec007a;
  text-align: left;
  font-size: 20px 0 0;
  border-bottom: 1px solid #C9C9C9;
  padding-bottom: 20px;
  margin: 0;
  line-height: 1;
}
h3 {
  font-weight: 300;
  font-size: 20px;
  color: #f7941e;
}

h4 {
  color: #20b7ce;
  font-weight: 800;
  font-size: 14px;
}

/* -------- Posições -------- */

  .left {
    float: left;
  }


  .right {
    float: right;
  }

  /* Solucionar problemas de floats, como colapse em elementos block */

  .clearfix:before, .clearfix:after {
      content: " ";
      display: block;
    }

  .clearfix:after {
      clear: both;
  }
  .clearfix {
    *zoom:1; /* IE6 IE7*/
  }


/* ------- Estrutura -------- */
  
 
  .container {
    margin: 0 auto;
    /*padding: 50px;*/
    box-sizing: border-box;
    max-width: 960px;
  }

   section.container {
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0;
  }


  /*  .container:before, .container:after {
      content: " ";
      display: table;
    }

    .container:after {
      clear: both; }
  */

  /* ------ colunas -------- */


 .col {
    box-sizing: border-box;
    float: left;
    display: block;
    padding: 0 1.041666666666667%;
  }
  .col:first-child { /*exceto IE6*/
    padding-left: 0;
  }

  .col:last-child { /*exceto IE6*/
    padding-right: 0;
  }

    /* ---- Divisões das colunas ----*/
    .grid-3-12 {
      width: 25%;
    }

   .grid-6-12 {
      width: 50%;
    }

    .grid-9-12 {
      width: 75%;
    }

    .grid-12-12 {
      width: 100%;
    }

/* ------- Ajustes ------- */
  
  .margin-left {
    margin-left: 10px;
  }



  /* ---------- Responsivo Media Queries ---------------- */


  /* Ajusta o tamanho do container ao tamanho da tela
     Quando as telas forem entre 640 e 960px*/
  @media (max-width: 960px) and (min-width: 640px) {
   /* .container {
      width: auto;
    }*/
      .container {
      width: auto;
    }
    /*.grid-3-12, .grid-6-12, .grid-9-12, .grid-12-12 {
      width: 100%;
      float: none;
    }*/

    .submenu-home {
      width: 90%;
      margin: 0 auto;
    }
    .submenu-home ul li {
      display: inline;
      margin: 20px 0;
    }

  }

  @media (max-width: 640px) and (min-width: 480px) {
    .container {
      width: auto;
    }
  }

  /* exibe tudo em 1 única coluna em telas menores que 480 pixels */


  @media (max-width: 480px) {
    .container {
      width: auto;
    }
    .grid-3-12, .grid-6-12, .grid-9-12, .grid-12-12 {
      width: 100%;
      float: none;
    }

    #advertising-highlight img {
      max-width: 100px;
    }

  }



