
/* ------ Imagens destaque  ---------*/

section.container.highlights {
	margin: 20px auto;
	padding: 0;
}


section.banner-highligh {
	background-color: red;
	height: 500px;
	width: 100%;
}
.banner-highlight img{
	width: 100%;
		
}


#advertising-highlight img {
	width: 100%;
}



/* -------- conteúdo central -------- */

.home-main-content{
}
.home-main-content h2 {
	border-bottom: 1px solid #C9C9C9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.home-main-content p {
    margin: 20px 0;
}

/* gato */
.home-cat {
	margin-right: 0;
	padding-right: 0;
	max-width: 22%;
}

.home-cat img {
	width: 100%;
}



/* ------- Submenu ------------ */

.submenu-home {
	border: 1px solid #C9C9C9;
	padding: 16px;
	min-width: 200px;
}

.submenu-home h3 {
	font-weight: 400;
	font-size: 16px;
	border-bottom: 1px solid #C9C9C9;
	padding-bottom: 10px;
	margin-left: 15px;
}


.submenu-home > nav > dl {
    padding-left: 10px;
}
.submenu-home > nav > dl > dt {
	padding: 20px 0 0;
}
.submenu-home > nav > dl > dt > a {
	padding-bottom: 20px;
}
.submenu-home > nav > dl > dt, .submenu-home dl > dt > a {
 	color: #20b7ce;
  	font-weight: 800;
  	font-size: 14px;
}
 /*Seta dos submenus */
.submenu-home > nav > dl > dt:before { 
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid #f7941e;
	content: "";
	margin: 0 10px 0 0;
	margin-left: 9px;
}

.submenu-home > nav > dl > dd {
	margin: 10px 0 0 9px;
	font-weight: 400;
}

.submenu-home > nav > dl > dd > a {
	font-size: 14px;
	font-weight: 400;
}

/* -------- Banner Estático -------- */

.banner-static {
	margin: 20px 0;
	box-sizing: border-box;
	height: 200px;
}

.banner-static img {
	width: 100%;
}

.banner-legend {
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	height: 40px;
	padding: 10px;
	display: block;
	position: relative;
	bottom: 41px;
	z-index: 9999;
}



/* -------- Itens -------- */

section.boxes-container {
	position: relative;
	right: 0;
	padding-top: 20px;
	margin-bottom: 80px;
}

section.home-boxes {
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 220px;
    height: 180px;
    border: 1px solid #f7941e;
    margin: 0 10px;
    padding: 16px;
}

section.home-boxes:first-child {
	margin-left: 0;
	padding-left: 16px;
}

section.home-boxes:last-child {
	margin-right: 0;
}

.home-boxes img {
	width: 70px;
	display: block;
	margin: 0 auto 16px auto;
	color: #ec007a;
}

.home-boxes p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}